#world-map, #world-map > svg {
  height: 100%;
  width: 100%;
}

#world-map > svg {
  overflow: visible;
  display: block;
  /* background: #eee; */
  width: 100%;
  height: 60vh;
}

#world-map > svg.country:hover {
  stroke: yellow;
  stroke-width: 1px;
  cursor: pointer;
}