div#box-1 {
    grid-area: box-1;
  
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10vh auto auto 35vh auto auto auto;
    grid-template-areas:
      "title title"
      "text-top-left did-you-know"
      "chart-title chart-title"
      "chart chart"
      "button button"
      "subtitle-p1 subtitle-p1"
      "text-bottom text-bottom";
  }
  
  div#box-1 > .page-1-title {
    grid-area: title;
  }
  
  div#box-1 > .page-1-text-top-left {
    grid-area: text-top-left;
    margin: auto;
  }
  
  div#box-1 > .did-you-know {
    grid-area: did-you-know;
  
    margin: 2.5vh;
    padding: 0.75vh;

    border-radius: 2vh;
    border: 1px solid rgba(0,0,0,0.4);
  }
  
  div#box-1 > .did-you-know > p#did-you-know-text {
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  
  div#box-1 > .did-you-know > p {
    font-size: 14px;
  }
  
  div#box-1 > .page-1-chart-title {
    grid-area: chart-title;
    margin-top: 2vh;
  }
  
  div#box-1 > .page-1-chart {
    grid-area: chart;
    margin: 1vh 0 1vh;
  }
  
  div#box-1 > button.play-button {
    grid-area: button;
  }

  div#box-1 > h2.page-1-bottom-subtitle {
    grid-area: subtitle-p1;
  }
  
  div#box-1 > .page-1-text-bottom {
    grid-area: text-bottom;
  }