div#box-3 {
    grid-area: box-3;

    display: grid;
    grid-template-rows: auto 40vh 40vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "title title"
        "data radar"
        "data scatterplot";
}

div#box-3 > * {
    border: 1px solid lightgray;
}

div#box-3 > h1 {
    grid-area: title;
}

div#box-3 > div#country-data {
    grid-area: data;
}

div#box-3 > div#scatter-plot {
    grid-area: scatterplot;
}

div#box-3 > div#radar-chart {
    grid-area: radar;
}