#header {
    /* Position and size */
    position: fixed;
    
    left: 30vw;
    width: 40vw;
    top: 1.75vh;
    height: 6vh;
    z-index: 10;
    /* margin: 90vh 10vw auto; */

    /* Style */
    border-radius: 2vh;
    background-color: rgba(255,255,255,0.95); /*dim the background*/

    /* Container properties */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw 0;
}

#header a {
    text-decoration: none;
    
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 800;
    color: black;
    opacity: 0.8;

    /* width: 100%; */
    /* margin: auto; */

    transition: font-size 0.1s;
}

#header a:hover {
    font-size: 1.7vw;
}