#scatter-plot {
    display: grid;
    
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "title" "svg";
}

#scatter-plot, #scatter-plot svg {
    height: 100%;
    width: 100%;
}

#scatter-plot > h2 {
    grid-area: title;
}

#scatter-plot > svg {
    grid-area: svg;
    /* overflow: visible; */

    /* display: block; */
    /* background: #eee; */
    width: 100%;
    height: 60vh;
  }

/* #scatter-plot > div {
    grid-area: svg;

    border: 1px solid gray;
    border-radius: 10px;
} */

#scatter-plot text.country-flag:hover {
    opacity: 0.3;
    cursor: pointer;
}

#scatter-plot .axis text {
    font-size: 10px;
    font-family: inherit;
}