#scatter-plot {
    display: grid;
    
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "title" "svg";
}

#scatter-plot, #scatter-plot svg {
    height: 100%;
    width: 100%;
}

#scatter-plot > h2 {
    grid-area: title;
}

#scatter-plot > svg {
    grid-area: svg;
    width: 100%;
    height: 100%;
  }

#scatter-plot > div {
    grid-area: svg;
    height: 100%;
    /* border: 1px solid gray; */
    /* border-radius: 10px; */
}

#scatter-plot text.country-flag:hover {
    opacity: 0.3;
    cursor: pointer;
}

#scatter-plot .axis text {
    font-size: 14px;
    font-family: inherit;
}