button.play-button {
    width: 60px;
    height: 30px;
    border-radius: 10px;

    margin: 1.5vh auto;
  
    /* Text style */
    font-size: 14px;
    font-weight: 300;
  
    /* Button style */
    background-color: white;
    color: var(--color-alt-1);
    font-weight: 600;
    border: 1px solid;
    border-color: var(--color-alt-1);
  
    /* Esthetics */
    cursor: pointer;
    transition: font-size 0.1s;
  }