.App {
  text-align: center;
}

svg {
  overflow: visible;
  display: block;
  /* background: #eee; */
  width: 100%;
  height: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100vh 100vh 100vh 100vh;
  grid-template-areas:
    ". page-1 ."
    ". page-2 ."
    ". page-3 ."
    ". page-4 ."
}

.page {
  border-style:dotted;
}

.page-1 {
  grid-area: page-1;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "title"
    "chart"
    "text";
}

.page-1-title {
  grid-area: title;
}

.page-1-chart {
  grid-area: chart;
}

.page-1-chart > img {
  height: 40vh;
}

.page-1-text {
  grid-area: text;
}

.page-2 {
  grid-area: page-2;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "title"
  "chart"
  "text";
}

.page-2-title {
  grid-area: title;
}

.page-2-chart {
  grid-area: chart;
}

.page-2-chart > img {
  width: 100%;
}

.page-2-text {
  grid-area: text;
}

.page-3 {
  grid-area: page-3;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "alc happy"
    "scatterplot radar";
}

.page-3 img {
  height: 20vh;
}

.page-3-top-left {
  grid-area: alc;
}

.page-3-top-right {
  grid-area: happy;
}

.page-3-bottom-left {
  grid-area: scatterplot;
}

.page-3-bottom-right {
  grid-area: radar;
}

.page-4 {
  grid-area: page-4;
}

#timeline-overlay {
  position: fixed;
  top: 90vh;
  left: 20vw;
  width: 60vw;
  height: 5vh;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}