* {
  margin: 0;
  padding: 0;

  font-size: 2.5vh;
  color: black;
  letter-spacing: -0.6px;

  /* Any width property will truly mean the total visual width of element */
  box-sizing: border-box;

  /* Main Colors */
  --yellow-bg-top: rgb(255, 250, 50);
  --yellow-bg-bottom: rgb(255, 226, 20);
  --color-alt-1: #24a0ed;

  /* --- Fonts --- */

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --- PWA-friendly area --- */

  /* Disables double-tap to zoom */
  touch-action: manipulation;
  /* Disables highlights at taps */
  -webkit-tap-highlight-color: transparent;
  /* Disable callouts (when holding an element) */
  -webkit-touch-callout: none;
}

body {
  height: 100%;
  background: var(--yellow-bg-top);
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 900;
  opacity: 0.9;

  margin: auto;
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  color: darkslategray;

  margin: 2vh auto 1vh;
}

p, a, strong {
  font-size: 15px;
  text-align: justify;
  line-height: 3vh;
}

strong {
  color: darkslategray;
}

p {
  font-weight: 400;
  padding: 5px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: darkslategray;
  font-style: italic;
  transition: font-size 0.1s;
}

a:hover {
  font-size: 16px;
}

div.box-container {
  display: grid;
  grid-template-rows: auto auto auto auto 20vh;
  grid-template-areas:
    "box-1"
    "box-2"
    "box-3"
    "box-4"
    "footer";

  width: 97vw;
  margin: 5vh auto;
  margin-top: 10vh;
}

/* For desktop: */

@media only screen and (min-width: 768px) {
  div.box-container {
    max-width: 900px;
  }
}