.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100vh 100vh 100vh 100vh;
  grid-template-areas:
    ". page-1 ."
    ". page-2 ."
    ". page-3 ."
    ". page-4 ."
}

.page {
  border-style: dashed;
}

.page-1 {
  grid-area: page-1;

  grid-template-rows: 20vh 1fr 1fr;
  grid-template-areas:
    "title"
    "chart"
    "text";
}

.page-1-title {
  grid-area: title;
}

.page-1-chart {
  grid-area: chart;
}

.page-1-text {
  grid-area: text;
}

.page-2 {
  grid-area: page-2;
}

.page-3 {
  grid-area: page-3;
}

.page-4 {
  grid-area: page-4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

