* {
  margin: 0;
  padding: 0;

  font-size: 2.5vh;
  color: black;
  letter-spacing: -0.6px;

  /* Any width property will truly mean the total visual width of element */
  box-sizing: border-box;

  /* Main Colors */
  --yellow-bg-top: rgb(255, 250, 0);
  --yellow-bg-bottom: rgb(220, 220, 0);
  --color-alt-1: #24a0ed;

  /* --- Fonts --- */

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --- PWA-friendly area --- */

  /* Disables double-tap to zoom */
  touch-action: manipulation;
  /* Disables highlights at taps */
  -webkit-tap-highlight-color: transparent;
  /* Disables text selection in general (inputs enabled below) */
  -webkit-user-select: none;
  /* Disable callouts (when holding an element) */
  -webkit-touch-callout: none;
}

body {
  height: 100%;
  background: var(--yellow-bg-top);
  text-align: center;
}

h1,h2 {
  text-transform: uppercase;
  padding-left: 8vh;
  padding-right: 8vh;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  margin: auto 0;
}

p {
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  padding: 5px;
}

div.box-container {
  display: grid;
  grid-template-rows: 100vh 100vh 100vh 100vh;
  grid-template-areas:
    "box-1"
    "box-2"
    "box-3"
    "box-4";
}

div.box-container > #box-1 {
  grid-area: box-1;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr auto 4fr auto 2fr;
  grid-template-areas:
    "title title"
    "text-top-left did-you-know"
    "year year"
    "chart chart"
    "button button"
    "text-bottom text-bottom";
}

div#box-1 > .page-1-title {
  grid-area: title;
  margin-bottom: 2vh;
}

div#box-1 > .page-1-text-top-left {
  grid-area: text-top-left;
}

div#box-1 > .did-you-know {
  grid-area: did-you-know;

  margin: 2vh;
  border-color: black;
  border-radius: 2vh;
  border-style: solid;
}

.did-you-know > p#did-you-know-text {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.did-you-know > p {
  font-size: 14px;
}

div#box-1 > .page-1-year {
  grid-area: year;
  margin-top: 2vh;
}

div#box-1 > .page-1-chart {
  grid-area: chart;
  margin: 1vh 0 1vh;
}

div#box-1 > .page-1-button {
  grid-area: button;
  margin: 1.5vh auto 2vh;
}

div#box-1 > .page-1-text-bottom {
  grid-area: text-bottom;
}

button {
  width: 120px;
  height: 35px;
  border-radius: 1vw;

  background-color: var(--color-alt-1);
  color: white;
  font-weight: 600;
  border: none;

  cursor: pointer;
}

div#box-1 > .page-1-text {
  grid-area: text-bottom;
}

div.box-container > div#box-2 {
  grid-area: box-2;
}

div.box-container > div#box-3 {
  grid-area: box-3;
}

div.box-container > div#box-4 {
  grid-area: box-4;
}

/* .page-1-title {
  grid-area: title;
}

.page-1-chart {
  grid-area: chart;
}

.page-1-chart > img {
  height: 40vh;
}

.page-1-text {
  grid-area: text;
} */

/* .page-2-title {
  grid-area: title;
}

.page-2-chart {
  grid-area: chart;
}

.page-2-chart > img {
  width: 100%;
}

.page-2-text {
  grid-area: text;
} */

/* .page-3 img {
  height: 20vh;
}

.page-3-top-left {
  grid-area: alc;
}

.page-3-top-right {
  grid-area: happy;
}

.page-3-bottom-left {
  grid-area: scatterplot;
}

.page-3-bottom-right {
  grid-area: radar;
} */

#timeline-overlay {
  position: fixed;
  top: 90vh;
  left: 20vw;
  width: 60vw;
  height: 5vh;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}


/* For desktop: */

@media only screen and (min-width: 768px) {
  div.box-container {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}